@media screen and (min-width: 1024px) {
    .add-product{
        display: flex;
    }
    .quantity{
        margin: 70px 0px 0px 50px;
    }

    .name{
        margin: 70px 0px 0px 50px;
    }

    .price{
        margin: 70px 0px 0px 50px;
    }

    
    
}