.upload-container {
    text-align: left;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.btn {
    border: 2px solid #002C56;
    color: white;
    background-color: #002C56;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.preview {
    margin-top: 20px;
}
.preview img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    padding: 5px;
    border-radius: 8px;
}